
header {
    padding: 20px;
}

.microsoft-login-button {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 250px;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid #3b3a39;
    color: #3b3a39;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

    .microsoft-login-button:hover {
        text-decoration: none;
        color: #3b3a39;
    }

    .microsoft-login-button img {
        width: 35px;
    }

.shadow-effect {
    transition: 0.3s
}

    .shadow-effect:hover {
        -webkit-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
    }
    
.body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/* Calendar Style */
.calendar {
    padding: 10px;
}

.calendar-table {
    width: 100%;
    background-color: #f3f2f1;
    text-align: center;
}

    .calendar-table thead {
        background-color: white;
    }

    .calendar-table .day {
        width: 125px;
        height: 100px;
        min-width: 125px;
        margin: 2px;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        cursor: pointer;
    }

    .calendar-table td {
        padding: 3px;
    }


.current-day {
    border: 2px solid #0078d4;
    color: #0078d4;
}

.selected-day {
    border: 2px solid #004578;
    color: #004578;
    background: #c7e0f4 !important;
}

.day .day-event {
    font-size: 10px;
    padding: 5px;
}


@media (max-width: 900px) {
    .calendar-table .day {
        width: 100%;
        height: 50px;
        min-width: auto;
    }

    .day .day-event {
        display: none;
    }
}

/* Colors */
.red-orange {
    background: #da3b01;
    color: white;
}

.magenta {
    background: #881798;
    color: white;
}

.pink-red {
    background-color: #750b1c;
    color: white;
}

.yellow {
    background: #fce100;
    color: black;
}

.yellow-green {
    background: #8cbd18;
    color: black;
}

/* calendar day section */
.calendar-toolbar {
    background: #0078d4;
    color: white;
}

.toolbar-button {
    background: #0078d4;
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 25px;
    font-weight: 100;
    color: white;
    border: none;
}

    .toolbar-button:hover {
        background: #004578;
    }

    .toolbar-button:focus {
        border: none;
        outline: none;
    }

/* container section */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

/* Input Style */
.fluent-input {
    display: block;
    width: 100%;
    padding: 7px;
    margin: 10px 0;
    border: 1px solid #3b3a39;
}

    .fluent-input:focus {
        outline: none;
        border: 2px dashed #0078d4;
    }

.card-content {
    padding: 10px;
}

.event {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.card {
    margin: 10px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
