@using Family_Dashboard.Data
@page "/Callback"

<h1>Callback page</h1>

<p>AuthToken: @currentCount</p>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}