@using Family_Dashboard.Data
@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="GetAuthenticationToken">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

@code {
    private string currentHeading = "Initial heading";
    private Response oresp = new Response();
    private void GetAuthenticationToken(MouseEventArgs args) => oresp.GetJsonResponse();

    //private async void GetNewAuthenticationToken()
    //{
    //    Response oresp = new Response();
    //    await oresp.GetJsonResponse();
    //    Task<string> result = oresp.GetJsonResponse();
    //    currentHeading = result.Result;
    //    Console.WriteLine(oresp.GetJsonResponse());
    //    Console.WriteLine(oresp.GetJsonResponse().Result);
    //    await httpClient.PostJsonAsync("api/contacts", contact);

    //    uriHelper.NavigateTo("contacts");
    //}
}