<html lang="en">
<head>
    <title>DAKboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet" href="/css/app.css?20180124">
    <link rel="stylesheet" href="/css/screen-layout-big-calendar.css?20180109">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="14400">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="https://static.dakboard.com/assets/img/dakboard-logos/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="https://static.dakboard.com/assets/img/dakboard-logos/apple-touch-icon.png">

</head>
<body data-new-gr-c-s-check-loaded="8.871.0" data-gr-ext-installed="">    
    <style>

        .time-ampm {
            left: -1.4em
        }

        .brightness {
            background: rgba(0,0,0, 0);
        }
    </style>
    <div class="font-large">

        <a href="/screens" class="options-link xsmall dark" style="opacity: 0;">
            <span class="fas fa-cog"></span>&nbsp;&nbsp;<span class="options-desc font-light">Options</span>
        </a>

        <header style="height: 446px;">


            <div class="weather-container weather-parent">
                <div id="weather" style="padding: 45px 0 0 0;">
                    <div class="weather-container">
                        <div class="weather-item weather-current">
                            <div class="weather-current-alt font-light">
                                18 <small>mph</small> NW&nbsp;&nbsp;<span class="far fa-wind"></span><br>

                                5:50&nbsp;&nbsp;<span class="far fa-sunset"></span>
                            </div>
                            <div class="bright large">
                                38<sup>°</sup>
                                <span class="weather-current-icon fal fa-sun" title=""></span>
                            </div>
                        </div>


                        <div class="text-center weather-item weather-forecast weather-forecast-1">
                            <div class="day">Today</div>
                            <span class="fas fa-sun bright medium"></span><br>
                            <span class="bright weather-forecast-item-high">40</span>
                            <span class="bright weather-forecast-item-low">29</span>
                        </div>
                        <div class="text-center weather-item weather-forecast weather-forecast-2">
                            <div class="day">Fri</div>
                            <span class="fas fa-sun-cloud bright medium"></span><br>
                            <span class="bright weather-forecast-item-high">34</span>
                            <span class="bright weather-forecast-item-low">31</span>
                        </div>
                        <div class="text-center weather-item weather-forecast weather-forecast-3">
                            <div class="day">Sat</div>
                            <span class="fas fa-sun bright medium"></span><br>
                            <span class="bright weather-forecast-item-high">37</span>
                            <span class="bright weather-forecast-item-low">30</span>
                        </div>
                        <div class="text-center weather-item weather-forecast weather-forecast-4">
                            <div class="day">Sun</div>
                            <span class="fas fa-sun bright medium"></span><br>
                            <span class="bright weather-forecast-item-high">35</span>
                            <span class="bright weather-forecast-item-low">29</span>
                        </div>

                    </div>

                    @*<script>$('#weather-alert').hide();
	//$('.weather-container').css({bottom:'20px'});
	//$('.clock-container').css({bottom:'60px'});
	//$('.date-container').css({bottom:0});</script>*@
                </div>
            </div>

            <div id="weather-alert" class="translucent-alert weather-alert hide" style="display: none;">
                <div class="weather-alert-inside">
                    <div class="pull-left big">
                        <span id="weather-alert-icon" class="wi"></span>
                    </div>
                    <div style="margin-left: 70px;">

                        <div id="weather-alert-expires" class="xsmall font-light pull-right"></div>
                        <div id="weather-alert-description" class="small font-light"></div>

                        <div id="weather-alert-message" class="xxsmall"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clock clock-container bright" style="">
                <div style="">

                    <div class="time large">5:16<span class="sec">39</span></div>

                </div>
            </div><!-- /clock -->
            <div class="fade bright date-container " style="">
                <div class="date" style=""><div class="day-of-week">Thursday,</div><div class="month">March 4</div></div>
            </div>

            <div id="todo-loading" class="" style="margin: 30px 0px 0px 20px; display: none;">
                <span class="dark font-light">Loading To-do...</span>
            </div>
            <div id="todo" class="todo bright">
                <ul class="task-list">
                </ul>
            </div>
        </header>



        <div id="calendar" class="events" style=" ">

            <table class="">
                <thead>
                    <tr>
                        <th><div class="event-date ">M</div></th>
                        <th><div class="event-date ">T</div></th>
                        <th><div class="event-date ">W</div></th>
                        <th><div class="event-date today-header">T</div></th>
                        <th><div class="event-date ">F</div></th>
                        <th><div class="event-date ">S</div></th>
                        <th><div class="event-date ">S</div></th>
                    </tr>


                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="event-day disabled">
                                <div class="event-date ">Mar </div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day disabled">
                                <div class="event-date ">2</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day disabled">
                                <div class="event-date ">3</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date today">4</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">5</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td><div class="event-day "><div class="event-date ">6</div><ul></ul></div></td>
                        <td><div class="event-day "><div class="event-date ">7</div><ul></ul></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">8</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">9</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">10</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">11</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">12</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td><div class="event-day "><div class="event-date ">13</div><ul></ul></div></td>
                        <td><div class="event-day "><div class="event-date ">14</div><ul></ul></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">15</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">16</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">17</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">18</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">19</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td><div class="event-day "><div class="event-date ">20</div><ul></ul></div></td>
                        <td><div class="event-day "><div class="event-date ">21</div><ul></ul></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">22</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">23</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">24</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">25</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="event-day ">
                                <div class="event-date ">26</div><ul>

                                    <li class="event-all-day event-#039be5" style="background-color: #039be5" "=" ">



                                        Holiday								<span class="location">
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                        <td><div class="event-day "><div class="event-date ">27</div><ul></ul></div></td>
                        <td><div class="event-day "><div class="event-date ">28</div><ul></ul></div></td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="100%">
                            <div class="legend">
                                <small>LEGEND&nbsp;&nbsp;&nbsp;&nbsp;</small>
                                <span class="event-bullet event-#039be5"></span> lawrence.paine95@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="event-bullet event-#f4511e"></span> Family&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </td>
                    </tr>

                </tfoot>

            </table>
        </div>


        <div id="progress" class="hide"><svg viewBox="0 0 100 3" preserveAspectRatio="none" style="display: block; width: 100%;"><path d="M 0,1.5 L 100,1.5" stroke="#888888" stroke-width="3" fill-opacity="0" style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 1.08833px;"></path></svg></div>
    </div><!-- /fontsize -->


    <div class="brightness abs-zero" style="height: 100%; width: 38.2%;"></div>

    <div id="content" class="abs-zero" style="height: 100%; width: 38.2%;">
        <div id="background-underlay-1" class="abs-zero" style="display: none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; z-index: 9;"></div>
        <div id="background-underlay-2" class="abs-zero" style="background: rgb(0, 0, 0) url(&quot;https://lh3.googleusercontent.com/lr/AFBm1_YuOOgjNEHC8twKYUC6qF2hA0nVQj4LXvEh3_j8wwy-9CGzBr6Bp1TLnkyJTM-gQ05NVLuATYuYmP1JRLfDguLY6DtPh5X1fWBVn3STwLB61CF0fNoLWw36xuixsfKSTbOuOR22rNaaD1OWmoscnlor2lky6z2Ukon8nQxRpCpSn6xSuWHCRWGTmd1YkW9gCnjYC7xlP1QrD-DQU_6Wn-u6sw2GMPzhpjA4VXssVZSbates0hYHa4F70WKmLyoL9MrxS9zYaWWXU2to7MCMTA9QVciyE3-DsYb_8knjaYPWTK5gN5Lj_FJt3OVLfLHxuxk0lJ9gUsFqE5_Vcei2RHOOi2MJI-QBw65TnaiA1mMXHo0xtjbMRgqzRiG1u_3Mt70RpdO7ONOW3A0aMk0fBFu8aM6-eFiCvgjo8HYKCfnzyRoL_RgLvtcAn__DOAAW6IeLUHl7qTn8Z9XogVw5vDp_LPEMXujsBPDrtE1Hux_bd7gMGv3f-_ToS3IuQIfVJhQ1vv4gkD9bJZPE4AjvLKUDWN7M9VIS7Yqzd62C1V7Tr_fQ6MhXrWqOpsQYf6U7CfQE3hf7TYdoT1NmM2r11qJ6Q69hJWsQJk9yufpcGAHGi-o8iDzIIuEnnGOYRnGANq49S4hW8frcncvQt-YMko9pnVULcY2ahKuS9HzaTFTwrqU6t9LSXDJ_JrQ-POjmLe9TGEHWt9MGhquWTDroI_wePHHGDSbKRrM-GbFrLRHi8WVyZYY5lZrS7nTCfpauHBJ2YfJTPMPRx-8IRotg7hiQJvyzmdEj2s7gI7FWcw5zLGcuDmyPKAZjMQO2sFG_1XIiWAiUUrg=w2048-h2048&quot;) no-repeat scroll center center / cover; z-index: 10; display: block;"></div>
    </div>

    <div id="dak-banner" style="position: fixed; bottom: 0; right: 0; text-align: right; height: 45px; background: #000; z-index:1000; ">
        <div style="padding: 10px 20px;">

            <a href="https://dakboard.com/pricing">
                <span style="opacity: .6; ">Powered by </span>&nbsp;&nbsp;
                <img src="https://static.dakboard.com/assets/img/dakboard-logos/dakboard-color-horiz.svg" style="height: 24px; opacity: .8">
            </a>
        </div>
    </div>
    <style>#rss { bottom: 40px; }
		#dak-banner { width: 100%; }
		@*@media only screen and (orientation: landscape) {
			#dak-banner {
			    width: 61.8%;
			}*@
		}
    </style>

    @*<script>$(function() {

	var i = null;

	if ('ontouchstart' in window) {
		$(window).on('touchstart', function() {
		    clearTimeout(i);
		    $(".options-link").css({opacity: 1});
		    i = setTimeout(function () {
		        $(".options-link").css({opacity: 0});
		    }, 10000);
		});
	} else {
		$(window).mousemove(function() {
		    clearTimeout(i);
		    $(".options-link").css({opacity: 1});
		    i = setTimeout(function () {
		        $(".options-link").css({opacity:0});
		    }, 10000);
		});
	}

	i = setTimeout(function () {
        $(".options-link").css({opacity: 0});
    }, 10000);

	var myMpanel = new mPanel;

	myMpanel.init({
		route: "/app",
		isPremium: 0,
		timeFormat: 12,
		dateFormat: "",
		clockType: "digital",
		timezone: "America/New_York",
		showSeconds: "1",
		showAmpm: "",
		photoTransition: 1,
		photoChange: 120000,
		photoLayout: "fill"
	});



			$(window).resize(function() {
			// Portrait
			if ($(window).height() > $(window).width()) {
				var height = $(window).height() - $('#calendar').height() - 10 ;
				var height_no_padding = height;

				if (height < 200) { height = 300; }
				if (height_no_padding < 200) { height_no_padding = 300; }

				$('header').css({height: height_no_padding});
				$('#content').css({height: height, width: '100%'});
				$('.brightness').css({height: height, width: '100%'});
				$('.video-background').css({height: height, width:'100%'});
			}
			// Landscape
			else {
				$('header').css({height: $(window).height()});
				$('#content').css({height: '100%', width: '38.2%'});
				$('.brightness').css({height: '100%', width: '38.2%'});
				$('.video-background').css({height: '100%', width: '38.2%'});
			}
		});

					myMpanel.updatePhoto();

			//$('.clock').show();
		myMpanel.updateTime();

			myMpanel.updateEvents();

	myMpanel.updateWeather();




			myMpanel.updateTodo();


});</script>*@




</body>
</html>